{% load i18n static %}

<footer class="footer" aria-label="{% trans "Footer" %}">
  <div class="container-app">
    <div class="footer-bottom">
      <p>&copy; {% now "Y" %} {% if site_config %}{{ site_config.site_name }}{% else %}SkyEvents{% endif %}</p>
      <p>
        {% if site_config and site_config.footer_text %}
          {{ site_config.footer_text }}
        {% else %}
          {% trans "Made with" %} &hearts; {% trans "by" %} slopez.tech
        {% endif %}
      </p>
    </div>
  </div>
</footer>
